/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor principal */
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #f3f5fc;
    overflow: hidden; /* Evita que la página se desplace */
}
/* Logo */
.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: auto;
}

/* Primer textarea */
.texto {
    position: absolute;
    width: 42vw; /* Usa vw para asegurar que el tamaño se ajuste al viewport */
    height: 60vh; /* Usa vh para asegurar que el tamaño se ajuste al viewport */
    left: 12vw;
    top: 15vh;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #f3f5fc;
}

.texto::placeholder {
    color: #0a3871;
}

.texto:focus,
.texto:active {
    border: none;
    outline: none;
}

/* Términos */
.terminos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12vw;
    top: 80vh;
}

.terminos p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Botones */
.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12vw;
    top: 82vh;
    gap: 16px; /* Añadido para separar los botones */
}

.btn-encriptar {
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #0a3871;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #fff;
    margin-right: 8px; /* Añadido para separación adicional */
}

.btn-desencriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0a3871;
}

.btn-desencriptar:hover,
.btn-encriptar:hover {
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

/* Encriptado */
.encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 30vw;
    height: 90vh;
    left: 60vw;
    top: 5vh;
    background: #fff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    border: 3px solid #0A3871;
    padding: 20px;
}

/* Mensaje encriptado */
.mensaje-encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    width: 100%;
    text-align: center;
}

/* Estilos del h2 */
.mensaje-encriptado h2 {
    width: 60%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343a40;
}

/* Estilos del párrafo */
.mensaje-encriptado p {
    width: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

/* Imagen */
.encriptado img {
    width: 80%;
    height: 50%;
    margin-top: 5%;
}

/* Segundo textarea */
.mensaje {
    width: 80%;
    height: 20%;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    background-color: #f3f5fc;
    resize: none;
    box-sizing: border-box;
}

.mensaje::placeholder {
    color: #495057;
}

.mensaje:focus,
.mensaje:active {
    border: none;
    outline: none;
}

/* Responsive design */
@media (max-width: 57.5em) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto; /* Permite el scroll vertical en pantallas más pequeñas */
    }
    .texto {
        width: 80vw;
        height: 20vh;
        left: 10vw;
        top: 5vh;
    }
    .terminos {
        width: 80vw;
        left: 10vw;
        top: 35vh;
    }
    .terminos p {
        font-size: 16px;
    }
    .botones {
        width: 80vw;
        left: 10vw;
        top: 40vh;
        gap: 16px; /* Mantiene el mismo gap en pantallas pequeñas */
    }
    .btn-encriptar,
    .btn-desencriptar {
        width: 48%;
        border-radius: 16px;
    }
    .btn-encriptar:hover,
    .btn-desencriptar:hover {
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }
    .encriptado {
        width: 80vw;
        height: auto; /* Ajuste de altura automática */
        left: 10vw;
        top: 55vh;
    }
    .mensaje-encriptado {
        width: 100%;
        top: 5%;
    }
    .encriptado img {
        top: 0;
        display: none;
        visibility: hidden;
    }
}
